layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane size="65%"
	pane size="35%"
    }
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
